/* Utility */
$colortheme: #A8A2E2;
$color: #000;
$mt4: 4rem;

/* info Item */
.info-item {
    margin-top: $mt4;

    .info-category {
        margin-top: 3rem;
    }

    .btn-loadmore {
        border: 1px solid $colortheme;
    }

    .btn-loadmore:hover {
        color: $colortheme;
    }
}

@media(max-width:768px) {
    .info-item {
        margin-top: 1rem;
    }
}

/* Article or Filter Info */
.info {

    .btn-filter {
        border: 1px solid $colortheme;
        margin-bottom: 1rem;
        width: 100%;
    }

    .btn-filter:hover {
        background-color: $colortheme;
    }

    select {
        width: 90%;
        box-shadow: 1px 1px 10px $shadow;
        margin-bottom: 1rem;
    }

    .info-filter {
        span {
            padding: 5px;
            color: red;
            font-size: 1.5rem;
        }
    }

    @media(max-width:380px) {
        .info-filter {
            margin-bottom: 0;

            select {
                margin-bottom: 1rem;
            }
        }
    }

    /* Article Item Area */
    .article-item {
        h3 {
            margin-bottom: $mt2;
        }

        .btn-loadmore {
            border: 1px solid $colortheme;
        }

        .btn-loadmore:hover {
            color: $colortheme;
        }

        .card-info {
            min-height: 285px;
            max-height: 285px;
            transition: .2s;
            border-radius: 10px;
            box-shadow: 1px 1px 10px $shadow;

            .col-12 {
                padding-left: 0;
                padding-right: 0;
            }

            img {
                cursor: pointer;
                min-height: 150px;
                max-height: 150px;
            }
        }

        @media(max-width:380px) {
            .col {
                padding: 0;
            }

            .card-body {
                padding-top: 1rem;
            }

            .card-info {
                transition: .2s;
            }

        }

        .card-info:hover {
            cursor: pointer;
            box-shadow: 1px 1px 20px $shadow;
        }
    }


    /* Suggest Artikel */
    .suggest-article {
        img {
            width: 100%;
        }

        .col-4 {
            padding: 0;
        }

        .col-8 {
            font-size: .9rem;

            a {
                transition: .2s;
            }

            a:hover {
                border-bottom: 1px solid $color;
            }
        }

        .suggest-card {
            padding: 1rem;
            padding-right: 0;
            transition: .2s;
            border-radius: 10px;

            .col-8 {
                padding-right: 0;
            }
        }

        .suggest-card:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px $shadow;
        }
    }

    @media(max-width: 1024px) {
        .suggest-article {
            .col {
                padding-right: 0;
            }

            h4 {
                margin-top: 0;
            }
        }

        .suggest-card {
            margin-bottom: 1rem;
            cursor: pointer;
            box-shadow: 1px 1px 10px $shadow;

            .col-8 {
                padding-right: 15px !important;
            }
        }
    }

    @media(max-width: 768px) {
        .suggest-article {
            margin-top: 2rem;

            .col {
                padding-right: 15px;
            }

        }
    }
}
