/* Utility */
$colortheme: #f0ecf7;
$colortheme2: #a8a2e2;
$shadow: #ddd;
$color: #fff;
$mt4: 4rem;

.main-me {
    background-color: $colortheme;
    padding: 2rem;

    h2 {
        font-family: "Poppins", sans-serif;
    }
}

/*Profile Card 3*/
.profile {
    padding: 3rem;

    @media (max-width: 380px) {
        .col {
            padding: 0;
        }
    }

    .profile-card-3 {
        font-family: "Open Sans", Arial, sans-serif;
        position: relative;
        overflow: hidden;
        width: 100%;
        text-align: center;
        height: 368px;
        border: none;
        box-shadow: 1px 1px 10px $shadow;
        border-radius: 15px;

        .background-block {
            overflow: hidden;
        }

        .background-block .background {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }

        .card-content {
            width: 100%;
            padding: 15px 25px;
            color: #232323;
            float: left;
            background: #fff;
            height: 50%;
            border-radius: 0 0 5px 5px;
            position: relative;
            z-index: 101;

            img {
                width: 3.5rem !important;
                height: 3.5rem !important;
            }
        }

        .card-content::before {
            content: "";
            background: #fff;
            width: 120%;
            height: 100%;
            left: 11px;
            bottom: 51px;
            position: absolute;
            z-index: -1;
            transform: rotate(-13deg);
        }

        h2 {
            margin: 0 0 5px;
            font-weight: 600;
            font-size: 25px;
        }

        h2 small {
            display: block;
            font-size: 15px;
            margin-top: 10px;
        }

        i {
            display: inline-block;
            font-size: 16px;
            color: #232323;
            text-align: center;
            border: 1px solid #232323;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            margin: 0 5px;
        }

        .icon-block {
            float: left;
            width: 100%;
            margin-top: 15px;
        }

        .icon-block a {
            text-decoration: none;
        }

        i:hover {
            background-color: #232323;
            color: #fff;
            text-decoration: none;
        }
    }
}

.zoom:hover {
    transform: scale(1.1);
}

/* Contact */
.contact {
    background-color: $colortheme;
    padding: 4rem;

    @media (max-width: 768px) {
        h2 {
            font-size: 1.5rem;
        }
    }

    .card-contact {
        height: 50%;
        padding: 3rem;
        margin: auto;
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        border-radius: 20px;
        background-color: #ffffff !important;
        border-radius: 10px;
        background: $colortheme;
        box-shadow: 20px 20px 60px #ccc9d2, -20px -20px 60px #ffffff;

        .card {
            border: none;

            h1 {
                margin-bottom: 0;
                padding: 0.5rem;
            }

            .card-body {
                padding: 0.5rem;
            }
        }
    }

    .neu-form {
        .form-contact {
            padding: 50px;
            width: 100%;
            color: #212121;
            background-color: #ffffff !important;
            border-radius: 20px;
            background: $colortheme;
            box-shadow: 20px 20px 60px #ccc9d2, -20px -20px 60px #ffffff;
        }
    }

    .btn-contact {
        border: 1px solid rgba($colortheme2, $alpha: 0.8);
    }

    .btn-contact:hover {
        border: 1px solid $colortheme2;
        background-color: $colortheme2;
        color: $color;
    }
}

@media (max-width: 380px) {
    .contact {
        padding: 1rem;

        .col-xl-8 {
            padding: 0;
        }

        .neu-form {
            .form-contact {
                padding: 1.5rem;
            }
        }

        p {
            text-align: center;
        }
    }
}

/* Credit */
.credit {
    .me-credit {
        margin-top: $mt4;
        padding: 3rem;
        box-shadow: 1px 1px 10px $shadow;
    }

    @media (max-width: 768px) {
        .me-credit {
            padding: 2rem;

            img {
                max-width: 280px;
            }
        }
    }

    @media (max-width: 380px) {
        .me-credit {
            padding: 1rem;

            .me-img {
                padding: 0;
            }

            img {
                max-width: 300px;
            }
        }

        .me-desc {
            padding: 1rem;

            h6 {
                font-size: 0.9rem;
            }
        }
    }
}

/* Rules */
.rules,
.search {
    margin-top: 3rem;
    padding: 4rem;
    padding-top: 3rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 1px 10px $shadow;

    ol,
    ul {
        padding-left: 20px;
    }
}

@media (max-width: 380px) {
    .rules,
    .search {
        padding: 2rem;
    }
}

/* Search */
.search {
    /* Article Item Area */
    .article-item {
        h4 {
            margin-top: $mt2;
            margin-bottom: $mt2;
        }

        .btn-loadmore {
            border: 1px solid $colortheme;
        }

        .btn-loadmore:hover {
            color: $colortheme;
        }

        .card-search {
            min-height: 285px;
            max-height: 285px;
            transition: 0.2s;
            border-radius: 10px;
            box-shadow: 1px 1px 10px $shadow;

            .col-12 {
                padding-left: 0;
                padding-right: 0;
            }

            img {
                cursor: pointer;
                min-height: 150px;
                max-height: 150px;
            }
        }

        @media (max-width: 380px) {
            .col {
                padding: 0;
            }

            .card-body {
                padding-top: 1rem;
            }

            .card-search {
                transition: 0.2s;
            }
        }

        .card-search:hover {
            cursor: pointer;
            box-shadow: 1px 1px 20px $shadow;
        }
    }
}
